/************************************** Utiliity Classes **************************************/

.center{
    text-align: center;
    margin: 0 auto;
}

.bold{
    text-decoration: bold;
}

.transparentBackgroundImg{
    position:absolute;
    top: 0;
    left: 0;
    opacity: 0.25; 
    width: 100%;
    height: 100%;
    z-index: -1;
}

/************************************** Header and Set Up **************************************/
html, body{
    background: #eee;
    margin: 0; 
    padding: 0;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, div, a, li, td, th{
    font-family: "Gill Sans", sans-serif;
}



/************************************** Index Page **************************************/

.feed{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-auto-rows: minmax(100px, auto);
    background:#fdd70a;
}
.feedEntry {
    width: 90%;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    display:grid;
    grid-template-columns: 3fr 6fr 2fr;
    grid-column-gap: 50px; 
    background:#ffffff;   
}

.feedEntryTimeDate{
    grid-column: span 1;
    grid-row: span 3;
    color: #3f34e4;
    border-left: 2px solid black;
}

.feedEntryPic{
    width:100%;
    grid-row: span 2;
    border-radius: 10px;
    border: 3px solid black;
    margin: 10px;
}

.feedEntryText{
    grid-column: span 1;
    grid-row: span 2;
}


/************************************** Community Calendar Page **************************************/
.calendarGrid{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: block;
    background: #fafafa;
    position: relative;
}

.calendar{
    margin: 3% 3%;
    width: 90%;
    height: 90%;
    z-index: 1;
}

.upcomingEvents{
    z-index: 1;
}

.eventsHeader{
    color: #fff;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: #FED966;
    text-align: center;
    vertical-align: center;
}

.eventText{
    width: 90%;
    margin: 0 auto;
}


.missed a{
    background: #4473C5;
    border-radius: 10px;
    padding: 1% 2%;
    color:#fff;
    text-decoration: none;
    margin-left: 2%;
}

.missed a:hover{
    background:#7C9DD6;
}

/************************************** Gallery Page **************************************/
.gallery{
    position: relative;
    width: 90%; 
    margin: 0 auto;
}

.galleryContainer{
    background: #ccc;
    display: none;
    width: 100%; 
    margin: 0 auto;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    grid-auto-flow: dense;
    justify-content: space-around;
    position: absolute;
    left: 0;
    top: 160px; 
}

.portrait{
    grid-row: span 4;
    grid-column: span 3;
}

.landscape{
    grid-column: span 4;
    grid-row: span 3;
}

.image{
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    width: auto;

}

.tabs{
    list-style-type:none;
    padding: 0;
    margin: 0;
}

.tabs li{
    float: left;
}

.tabs li > input{
    display:none;
}

.tabs li > label{
    display: inline-block;
    border: 1px solid black;
    height: 30px;
    line-height: 30px;
    padding: 5px 20px;
    cursor: pointer;

}

.tabs li:last-child > label{
    border-right-width: 1px;
}

.tabs li > input:checked + label{
    background-color:#ddd;
}

.tabs li > input:checked ~ .galleryContainer{
    display: grid;
}


/******* Responsive Top Nav *******/
.topNav{
    position: fixed;
    width: 100%;
    height: 50px;
    background: #000000;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.topNavItem a{
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
    text-decoration: none;
    color: #FDD70A;
}

.topNavItem a:hover{
    color:#fff;
}
.topNav h3:first-child{
    float: left;
    display: block;
    padding-left: 15px;
}

.topNav h3:not(:first-child) {
    display: none;
}

.topNav h3:last-child {
    float: right;
    display: block;
    padding-right: 15px;
}

.topNavResponsive{
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    z-index: 2;
}
.topNavResponsive h3{
    text-align: left;
    width: 100%;
    height: 50px;
    margin: 0;    
    background: rgb(0, 0, 0);
    padding: 0;
    z-index: 2;
    border-bottom: solid 2px #FED966;
    padding-left: 15px;
    line-height: 50px;
}

.topNavResponsive h3:last-child {
    float: right;
    display: block;
    border: none;
    text-align: center;
}

.topNavBuffer{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
}

.logo{ 
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0;
}

.date{
    background-color: #FED966;
    width: 100%;

    text-align:right;
    padding: 0;
    margin: 0;
}

.district{
    color: #333062;
    text-align:center;
}

.wrapper{
    /*background:linear-gradient(to right, rgba(253, 241, 102,1), rgba(251,233,138,0), rgba(249, 226, 102,1));*/
	background-image: url("Images/Header/el-paso.jpg");
	background-size:cover;
    width: 90%;
	height:30%;
    margin:0 auto;
}


@media only screen and (min-device-width : 945px) {
    @supports (grid-area: auto){

        .transparentBackgroundImg{
            z-index:0;
        }

        /********** Top Navigation Menu **********/
        .topNav{
            display: grid;
            grid-template-columns: repeat(5, auto);
            grid-template-rows: 50px;
            align-content: center;
            justify-content: space-around;
        }


        .topNavItem{
            text-align: center;
            display: block;
        }

        .topNav h3{
            display: block !important;
        }

        .topNav h3:last-child{
            display: none !important;
        }
        /********** Grid Set Up For Date, Logo, and District **********/
        .wrapper{
            display: grid;
            grid-template-columns: 6fr 5fr;
            grid-template-rows: 20vh 30px;
        } 


        /********** Logo Header **********/

        .logo{
            /*grid-column: 1 / span 1;*/
			grid-column:0;
            grid-row: 1;
            max-height: 25vh;
			width:auto; height:auto; 
			margin-left:-2vh;
        }

        .district{
            grid-column: 2 / span 1;
            grid-row: 1;
            justify-self: stretch;
            align-self: center;
        }


        /********** Date **********/

        .date{
            grid-column: 1/-1;
            grid-row: 3/ span 1;
        }

    }
}

